.admin {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 56px;
}

.flex-it {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.admin-sections li.active,
.admin-sections li:hover,
.admin-collapse:hover {
  opacity: 1;
}
.admin-content {
  width: ~'calc(100% - 200px)';
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  text-align: center;

  .flex-it;
}
